{% extends 'base.html' %}
{% block title %}
<title>Admin Login</title>
{% endblock title %}
{% block content %}
    <div class="container-scroller loginn" style="background-color: rgba(255,21,252,0.3);">
      <div class="container-fluid page-body-wrapper full-page-wrapper ">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-4 text-muted">Login</h3>
                <form method="POST" style="position: relative; margin-top: 2.5rem; margin-bottom: 2rem;">
                {% csrf_token %}
                {% for message in messages %}
                <div class="form-group mt-4 mb-4 {{ message.tags }} text-left alert-dismissible fade show"  style="font-size: 12px;" role="alert">
                  {{ message }}
                  
                </div>
                {% endfor %}
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control p_input">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    {% comment %} <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div> {% endcomment %}
                    <a href="/forgetPassword" class="forgot-pass">Forgot password</a>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                  </div>
                    
                  </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
{% endblock content %}