{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html"><img src="{% static 'assets/images/bvm_logo.png' %}"  style="height:50px;width:50px; position: relative; " alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="{% static 'assets/images/bvm_logo.png' %}"   style="height:50px;width:50px; position: relative;" alt="logo" /></a>
  </div>
<ul class="nav" style="position: fixed;">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            
            <img class="img-xs rounded-circle " src="/media/{{ request.user.profile_pic }}" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <span class="text-muted">{{ request.user.dept }} Student</span>
          </div>
        </div>

        <!-- <a href="#" class="ml-3" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="profile.html" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Profile settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="todo.html" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div> -->
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/students/index">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Works</span>
        <i class="menu-arrow ml-3"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/students/exams">Exams</a></li>
           <!-- <li class="nav-item"> <a class="nav-link" href="/student/assignments">Assignments</a></li>  -->
          <li class="nav-item"> <a class="nav-link" href="/students/projects">Projects & Reports</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/students/achievements">
        <span class="menu-icon">
          <i class="mdi mdi-trophy"></i>
        </span>
        <span class="menu-title">Achievements</span>
      </a>
    </li>
    <!-- <li class="nav-item menu-items">
      <a class="nav-link" href="/student/timetable">
        <span class="menu-icon">
          <i class="mdi mdi-table-large"></i>
        </span>
        <span class="menu-title">Time Tables</span>
      </a>
    </li>  -->
    <!-- <li class="nav-item menu-items">
      <a class="nav-link" href="attendence.html">
        <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Attendence Charts</span>
      </a>
    </li> -->
    <!-- <li class="nav-item menu-items">
      <a class="nav-link" href="/student/materials">
        <span class="menu-icon">
          <i class="mdi mdi-book"></i>
        </span>
        <span class="menu-title">Materials</span>
      </a>
    </li>  -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="/students/skills">
        <span class="menu-icon">
          <i class="mdi mdi-tie"></i>
        </span>
        <span class="menu-title">Skills</span>
      </a>
    </li>
    
  <li class="nav-item menu-items">
      <a class="nav-link" href="/students/events">
        <span class="menu-icon">
          <i class="mdi mdi-book"></i>
        </span>
        <span class="menu-title">Events</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" href="/students/project_see">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Projects</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/students/profile/{{ request.user.slug }}">
        <span class="menu-icon">
          <i class="mdi mdi-account"></i>
        </span>
        <span class="menu-title">Profile</span>
      </a>
    </li>

  </ul>
</nav>
